alabaster==0.7.13
alembic==1.13.2
astroid==2.15.1
attrs==22.1.0
Babel==2.12.1
beautifulsoup4==4.12.2
bleach==5.0.1
blinker==1.7.0
build==0.10.0
certifi==2022.9.24
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.7
commonmark==0.9.1
contourpy==1.0.6
-e git+https://github.com/gregchapman-dev/converter21.git@b7a487371d8937727ddd31d45f98e0f3decbf6df#egg=converter21
cycler==0.11.0
defusedxml==0.7.1
dill==0.3.6
docutils==0.19
dotenv==0.0.5
exceptiongroup==1.0.4
fastjsonschema==2.16.3
-e git+https://github.com/gregchapman-dev/fcpxml.git@8560ffc5542b14b67968b958d9b0ce0a8c80379b#egg=fcpxml
flake8==6.0.0
Flask==3.0.2
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
fonttools==4.38.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==2.2.0
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
keyring==23.13.1
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
Levenshtein==0.20.8
lxml==4.9.2
Mako==1.3.5
MarkupSafe==2.1.2
matplotlib==3.6.2
mccabe==0.7.0
mistune==2.0.5
more-itertools==9.0.0
-e git+https://github.com/gregchapman-dev/music_site.git@25ec6452e4640b739420e75cb7dee8daa415c5f6#egg=music_site
-e git+https://github.com/gregchapman-dev/music21.git@204e9d0b9eec2f2d6ff8d8d3b13c41f912050604#egg=music21
-e git+https://github.com/gregchapman-dev/musicdiff.git@0ba675f36a1c38fe93c8a3380a20e9677daadddf#egg=musicdiff
mypy==1.4.0
mypy-extensions==1.0.0
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
numpy==1.23.4
packaging==21.3
pandocfilters==1.5.0
pdoc==14.1.0
Pillow==9.3.0
pkginfo==1.9.6
platformdirs==2.5.4
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pylint==2.17.1
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pytest==7.2.0
python-dateutil==2.8.2
python-Levenshtein==0.20.8
pyzmq==25.0.2
rapidfuzz==2.13.2
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.1.0
scipy==1.9.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.34
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
traitlets==5.9.0
twine==4.0.2
types-Flask-Migrate==4.0.0.20240311
types-requests==2.28.11.8
types-urllib3==1.26.25.4
typing_extensions==4.12.2
urllib3==1.26.12
webcolors==1.12
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.14.1
zipp==3.11.0
