<html lang="en">
<head>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">
    <script
        src="{{ url_for('static', filename='node_modules/music21j/releases/music21.debug.js') }}"
        defer>
    </script>
    <script
        src="{{ url_for('static', filename='scripts/transpose.js') }}"
        defer>
    </script>
    <title>Music Munger</title>
</head>
<body>
    <h1>Music Munger</h1>
    <input
          type="file"
          id="fileElem"
          accept=".musicxml,.xml,.mxl,.krn,.mei"
          style="display:none" />
    <button id="fileSelect" type="button" class="btn">Select a score (MusicXML, Humdrum, MEI)</button>

    <button id="transpose" type="button" class="btn">Transpose score</button>
    <button id="shopItUpper" type="button" class="btn">Shop it! (SSAA)</button>
    <button id="shopItLower" type="button" class="btn">Shop it! (TTBB)</button>

    <a id="downloadAnchor" download href="data:plain/text,NothingHere">Download score (MusicXML)</a>
</body>
</html>
