<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">
    <script
        src="https://www.verovio.org/javascript/latest/verovio-toolkit-wasm.js"
        defer>
    </script>
    <script
        src="{{ url_for('static', filename='scripts/shopit.js') }}"
        defer>
    </script>

    <!-- Initial score to display (provided by server if session (with score) found) -->
    <script id="initialScore" type="plain/text">
        {{ meiInitialScore }}
    </script>
    <title>Shop it!</title>
</head>
<body>
    <h1>Shop it!</h1>
    <input
          type="file"
          id="fileElem"
          accept=".musicxml,.xml,.mxl,.krn,.mei"
          style="display:none" />
    <button id="fileSelect" type="button" class="btn">Select a score (MusicXML, Humdrum, MEI)</button>

    <button id="transpose" type="button" class="btn">Transpose score</button>
    <button id="shopItUpper" type="button" class="btn">Shop it! (SSAA)</button>
    <button id="shopItLower" type="button" class="btn">Shop it! (TTBB)</button>

    <a id="downloadAnchorMusicXML" download href="{{ url_for('musicxml') }}">Download MusicXML</a>
    <a id="downloadAnchorHumdrum" download href="{{ url_for('humdrum') }}">Download Humdrum</a>
    <a id="downloadAnchorMEI" download href="{{ url_for('mei') }}">Download MEI</a>
    <div id="notation"></div>
</body>
</html>
